1)for loop example

In [15]:
l = ["mango","fruit","teacher","sir"]

In [16]:
l

['mango', 'fruit', 'teacher', 'sir']

In [8]:
for i in l:
    if i == "teacher":
        continue
    print(i)    
else:
     print(" this is my first assignment")

mango
fruit
sir
 this is my first assignment

while loop example

In [4]:
b= 10

while b<=20:
    print(b)
    b = b+1

10
11
12
13
14
15
16
17
18
19
20

2)sum and product using for and while loop

for loop

In [17]:
c = [1,2,3,4,5,6,7,8,9,10]

In [18]:
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
result =0
for i in c:
    result = result + i
result

55

In [15]:
result = 1
for i in c:
    result = result * i
result

3628800

while loop

In [6]:
n =10
starting_point = 0
counter = 1
while counter<=n:
    starting_point =starting_point + counter
    counter = counter + 1
starting_point

55

In [7]:
v = 10
factorial = 1
while v>0:
    factorial = factorial * v
    v = v -1
factorial

3628800

In [13]:
units = 310
if units> 300:
    print(units*20)
elif units>=200 and units<300:
    print(units*10)
elif units>=100 and units<200:
    print(units *6)
else:
    print(units * 4.5)

6200

In [14]:
"""sir i know how it comes 2250, but i couldn't find out the way plz help me"""

"sir i know how it comes 2250, but i couldn't find out the way plz help me"

In [22]:
a=list(range(101))

In [23]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [47]:
def test(a):
    b = []
    for i in a:
        b.append(i**4)
    return b

In [48]:
test(a)

[0,
 1,
 16,
 81,
 256,
 625,
 1296,
 2401,
 4096,
 6561,
 10000,
 14641,
 20736,
 28561,
 38416,
 50625,
 65536,
 83521,
 104976,
 130321,
 160000,
 194481,
 234256,
 279841,
 331776,
 390625,
 456976,
 531441,
 614656,
 707281,
 810000,
 923521,
 1048576,
 1185921,
 1336336,
 1500625,
 1679616,
 1874161,
 2085136,
 2313441,
 2560000,
 2825761,
 3111696,
 3418801,
 3748096,
 4100625,
 4477456,
 4879681,
 5308416,
 5764801,
 6250000,
 6765201,
 7311616,
 7890481,
 8503056,
 9150625,
 9834496,
 10556001,
 11316496,
 12117361,
 12960000,
 13845841,
 14776336,
 15752961,
 16777216,
 17850625,
 18974736,
 20151121,
 21381376,
 22667121,
 24010000,
 25411681,
 26873856,
 28398241,
 29986576,
 31640625,
 33362176,
 35153041,
 37015056,
 38950081,
 40960000,
 43046721,
 45212176,
 47458321,
 49787136,
 52200625,
 54700816,
 57289761,
 59969536,
 62742241,
 65610000,
 68574961,
 71639296,
 74805201,
 78074896,
 81450625,
 84934656,
 88529281,
 92236816,
 96059601,
 100000000]

In [38]:
c= list(range(101))

In [39]:
c

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [44]:
##sir i can't find out how to calculate by using while loop help me

TypeError: '>' not supported between instances of 'list' and 'int'

In [46]:
##Q5) i can't